---
import { type Member } from "../data";
import RoleBadges from "./RoleBadges.astro";

interface Props {
  member: Member;
}

const { member } = Astro.props;
---

<a
  data-theme={member.theme}
  href={`/community/${member.id}`}
  class="hover-zoom relative card card-border border-1 bg-base-200/80 hover:bg-base-200/90 text-base-content/80 hover:text-base-content hover:border-neutral/50"
>
  <RoleBadges roles={member.roles} />
  <div class="card-body p-2">
    <div class="flex gap-6 items-center">
      <figure class="w-28 h-28 flex-shrink-0">
        <img src={member.avatar} alt={member.name} class="w-full h-full object-cover rounded-lg" />
      </figure>
      <div class="flex flex-col gap-2">
        <div>
          <h3 class="card-title text-xl">{member.name}</h3>
          <p class="text-sm">{member.jobTitle}</p>
        </div>
        <div class="gap-1 flex flex-wrap">
          {member.skills.map((skill) => <span class="badge badge-soft badge-sm">{skill}</span>)}
        </div>
      </div>
    </div>
  </div>
</a>
